<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="stylesheets/panel.css">
</head>
<body>
<h1>InterSky InstructorOperationSystem</h1>
<div class="settingscontainer">
	<div class="container">
			<div class="sidecontainer">
				<form action="http://192.168.1.5:8080/" method="get">
					<input type="submit" value="enging1"></input>
				</form>
				<button>FAILURES</button>
			</div>
			<div class="functioncontainer">function</div>
	</div>
			<div class="bottomcontainer">
				bottom_
			</div>
</div>
</body>
</html>